
/*Main CSS*/
body, html {
    height: 100%;
    font-family: "Segoe UI Light","sans-serif";
}
.cover {
    max-width: 100%;
    display: flex;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)), url(https://i.imgur.com/cJv9b48.jpg) no-repeat center center fixed;
    padding-bottom: 20px;
}
.img-frontpage{
    height: 400px;
}

/*Colors - Buttons and Color*/
.btn-pink:hover {
    background-color: #007bff;
    color: white;
    text-decoration: none;
}

.btn-pink, .btn-pink:active, .btn-pink:visited {
    background-color: #ef1e63;
    color: white;
    text-decoration: none;
}

.color-pink {
    color: #ef1e63;
}

/*Effects */

/*Bootstrap overrides*/
.navbar-brand {
    font-size: 2.0rem !important;
}
/*File stuff*/