@page
@model ProjectTamara.Pages.Services.ConfirmedModel

@{
    ViewData["Title"] = "Confirmed";
    Layout = "/Pages/Shared/_Layout.cshtml";
}


<div class="container-fluid py-3 bg-secondary">
    <div class="container">
        <div class="title h1 text-center text-white">Approved services</div>
        <div class="card">
            <div class="row ">
                <div class="col-md-7 px-3">
                    <div class="card-block ">
                        <h4 class="card-title">Mathematics Tuition</h4>
                        <span><img class="img-small" src="~/images/boy.png" />Made by user id 12351473</span>
                        <p class="card-text mt-2">
                            <strong>Event overview:</strong><br />
                            This event calls for everyone to attend a mass Tuition for mathemathics! We would love to host anyone from 12-16 years old!
                        </p>
                        <p class="card-text">
                            <strong>Event impact:</strong><br />
                            Good opportunity for companies to gain publicity and also meet their Corporate Social Responsibility. Gain business sustainability, bond with your team, grow together. Make your experience a meaningful one.
                        </p>
                        <p class="card-text">
                            <strong>Event target:</strong><br />
                            This service specfically targets families with financial issues. This helps them to save on money for kids who may not have any help elsewhere.
                        </p>
                        <div class="pt-3">
                            <a href="mailto:brian@bchewy.com" class="mt-auto btn btn-primary">Contact us now</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="img-viewall" src="https://i.imgur.com/P4rCJRu.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--two-->
    <div class="container">
        <div class="card">
            <div class="row ">
                <div class="col-md-7 px-3">
                    <div class="card-block ">
                        <h4 class="card-title">Healthly lifestyle Workshop</h4>
                        <span><img class="img-small" src="~/images/boy.png" />Made by user id 7565345</span>
                        <p class="card-text mt-2">
                            <strong>Event overview:</strong><br />
                            This event is all about hitting the correct notes for living a healthy lifestyle. Learn about the different ways to keep yourself healthly at home and also cultivate healthly living principles into your lifestyle.
                        </p>
                        <p class="card-text">
                            <strong>Event impact:</strong><br />
                            This is an exceptionally great opportunity for corporates to understand the health issues of the pioneers and give back to them. Find a way to bring about healthly living in your employees, and give back to the community. Bond with your team, do something for others.
                        </p>
                        <p class="card-text">
                            <strong>Event target:</strong><br />
                            This service specfically targets families with health issues. We aim to teach them a healthier lifestyle and living. Love others unconditionally, to live a life without loving others is miserable.  
                        </p>
                        <div class="pt-3">
                            <a href="mailto:brian@bchewy.com" class="mt-auto btn btn-primary">Contact us now</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="img-viewall" src="https://i.imgur.com/Wu1hED3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!--three-->
    <div class="container">
        <div class="card">
            <div class="row ">
                <div class="col-md-7 px-3">
                    <div class="card-block ">
                        <h4 class="card-title">Social Psychology Workshop</h4>
                        <span><img class="img-small" src="~/images/boy.png" />Made by user id 52562</span>
                        <p class="card-text mt-2">
                            <strong>Event overview:</strong><br />
                            This event encourages everyone from all backgrounds to come together and use social-psychological techniques to understand one another better.
                        </p>
                        <p class="card-text">
                            <strong>Event impact:</strong><br />
                            This event gives the opportunity for companies to publise themselves by iterating through useful techniques in hopes that the participants spread the reputation of the particular company. Make your company a reputable one.
                        </p>
                        <p class="card-text">
                            <strong>Event target:</strong><br />
                            This event is targeted towards incarerated families to help them cope with the social stigma surrounding them
                        </p>
                        <div class="pt-3">
                            <a href="mailto:brian@bchewy.com" class="mt-auto btn btn-primary">Contact us now</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="img-viewall" src="https://i.imgur.com/CZpdIkz.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
