@page
@model ProjectTamara.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="cover h-100">
    <div class="container-fluid">
        <div class="row h-100 justify-content-center">
            <div class="col d-flex justify-content-center align-self-center">
                <h1 class="text-white text-center display-1">
                    Socialize Today.<br>
                    We'll follow your voices.<br />
                    <a href="~/Services" class="btn-lg btn-pink">Vote now <i class="fas fa-heart"></i></a>
                </h1>

            </div>

        </div>
    </div>
</div>

<div class="bg-secondary pt-5 px-5">
    @if (Model.Service.Count != 0)
    {
        <div class="container-fluid">
            <h1 class="display-3 text-center text-white">Confirmed Services</h1>
            <p class="text-center text-white pb-1 display-6">Here are some of our confirmed events suggested by the community!</p>
            @for (int i = 1; i < (Math.Ceiling(Model.Service.Count / 3.0)) + 1; i++)
            {
                <div class="row">
                    @for (int x = 1; x < 4; x++)
                    {
                        if ((i * x) <= Model.Service.Count)
                        {
                            <div class="col-md-4 py-2">
                                <div class="card">
                                    <img class="card-img-top img-frontpage" src="~/images/service-images/@Model.Service[(i*x) - 1].Photo" alt="Service Image">
                                    <div class="card-body">
                                        <h5 class="card-title">@Model.Service[(i * x) - 1].Title</h5>
                                        <p class="card-text">@Model.Service[(i * x) - 1].Description</p>
                                        <a asp-page="Pages/Services/Details" class="btn btn-primary">Find out more!</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    }

</div>
<div class="container-fluid bg-secondary text-white">
    <hr class="border-white" />
    <footer class="p-4 text-center">
        <span>&copy; 2018 - Project Tamara <i class="fas fa-heart color-pink"></i> </span>
    </footer>
</div>