@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="cover h-100">
    <div class="container-fluid">
        <div class="row h-100 justify-content-center">
            <div class="col d-flex justify-content-center align-self-center">
                <h1 class="text-white text-center display-1">
                    Donate today<br>
                    Change Lives.<br />
                    <a href="About.aspx" class="btn-lg btn-pink">Donate now <i class="fas fa-heart"></i></a>
                </h1>

            </div>

        </div>
    </div>
</div>