@page
@model ProjectTamara.Pages.SponsorModel
@{
    ViewData["Title"] = "Sponsor";
}

<div style="background-image:linear-gradient(rgba(64, 64, 64, 0.6), rgba(64, 64, 64, 0.6)), url(https://i.imgur.com/iSQpjHO.jpg); position:relative; height:100%; background-repeat:repeat;color:white;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-md-8 mb-5 mt-5">

            <h1>Sponsorship: How It Works</h1>
            <p>In the process of sponsorship, there is a need to give tiers to sponsors for funding us, with each tier with a certain benefit to the sponsor. </p>
            <hr />
        </div>
    </div>


    <div class="row ml-5">

        <div class="col-md-4">

            <div class="mx-auto" style="width:200px">
                <figure>
                    <img src="https://i.imgur.com/A1y26j3.jpg" height="60%" width="60%" class="mt-5" />
                    <figcaption style="padding-top:5px"><small>Bronze Tier</small></figcaption>
                </figure>
            </div>

        </div>
        <div class="col-md-8 mt-5">
            <div class="mt-5" style="align-content:center;">
                <p style="padding-top:10px">
                    Bronze Tier can be achieved when a total funding of $50,000 is reached!<br />
                    Being in Bronze Tier allows the company to .......
                </p>
            </div>
        </div>

    </div>
    <!--Silver-->
    <div class="row ml-5">

        <div class="col-md-4">

            <div class="mx-auto" style="width:200px">
                <figure>
                    <img src="https://i.imgur.com/NRej4mj.png" height="80%" width="80%" class="mt-5" />
                    <figcaption style="padding-top:5px"><small>Silver Tier</small></figcaption>
                </figure>
            </div>

        </div>
        <div class="col-md-8 mt-5">
            <div class="well" style="align-content:center;">
                <p style="padding-top:10px" class="mt-5">
                    Silver Tier can be achieved when a total funding of $100,000 is reached!<br />
                    Being in Silver Tier allows the company to .......
                </p>
            </div>
        </div>

    </div>

    <!--Gold-->
    <div class="row ml-5">

        <div class="col-md-4">

            <div class="mx-auto" style="width:200px">
                <figure>
                    <img src="https://i.imgur.com/kyTfiQw.jpg" height="80%" width="80%" class="mt-5" />
                    <figcaption style="padding-top:5px"><small>Gold Tier</small></figcaption>
                </figure>
            </div>

        </div>
        <div class="col-md-8 mt-5">
            <div class="well" style="align-content:center;">
                <p style="padding-top:10px" class="mt-2">
                    Gold Tier can be achieved when a total funding of $200,000 is reached!<br />
                    Being in gold Tier allows the company to .......
                </p>
            </div>
        </div>

    </div>

